.Options {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.Option-Button {
  margin: 1em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.Option-Button:hover {
  background-color: #000000;
  color: #ffffff;
}