.Countries {
  padding: 0.5em;
  text-align: center;
}

.GetCountriesButton {
  border: 1px solid #000000;
  background-color: #e5ecf3;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.GetCountriesButton:hover {
  color: #ffffff;
  background-color: #5c6696;
}

.TableContainer {
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr:nth-child(odd) {
  padding: 0.5em;
  background-color: #e5ecf3;
}

.th {
  border: 1px solid #ccc;
  padding: 1.2em;
  background-color: #5c6696;
  color: white;
}

.td {
  border: 1px solid #ccc;
  height: 5em;
  width: 10em;
  text-align: center;
  cursor: pointer;
}

.td:hover {
  color: #ffffff;
  background-color: #5c6696;
}

.focusedCell {
  color: #ffffff;
  background-color: #5c6696;
}

.Flag {
  height: 2em;
  width: 5em;
}

.PaginationControl {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.PageButton {
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}
